.logo {
    height: 3.5rem;
    background-color: #FA8072;
    width: 100vw;
    line-height: 3.5rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.menu {
    background-color: #FFA07A;
    height: 3.5rem;
}

.menu-item {
    display: inline-block;
    color: white;
    font-size: 1rem;
    line-height: 3.5rem;
    width: 14.28%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #F08080;
}

.menu-item:active, .menu-item.active {
    background-color: #ffcdde;
}